@model SitecoreDemos.Models.Search.ContentSearchResult

<h1>Faceted search result</h1>

<p>Facets:</p>
<ul>
@foreach (var facet in @Model.Facets)
{
    <li>@facet.Name, @facet.TemplateId (@facet.ResultCount)</li>
}
</ul>

<p>Number of results: @Model.ResultCount</p>
<ul>
    @foreach (var resultItem in @Model.ContentSearchResultItems)
    {
        <li><a href="@resultItem.Url">@resultItem.Title</a></li>
    }
</ul>
